<p>
  <strong>Recipe:</strong>
  <%= @recipe_category.recipe %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe_category.category %>
</p>

<%= link_to 'Edit', edit_recipe_category_path(@recipe_category) %> |
<%= link_to 'Back', recipe_categories_path %>
