<h1>Recipes Home</h1>
<p>This is a recipe system built by <a href="https://bitbucket.org/Doom4535/">Aaron</a> and <a href="https://bitbucket.org/acovrig/">Austin Covrig</a>. <%= link_to 'Click here', recipes_path %> to get started.</p>
